@{
    // Define o título da página que pode ser usado no layout
    ViewData["Title"] = "Projeto Desenvolvimento Web";
}

<div class="text-center">
    <!-- Título principal da página -->
    <h1 class="display-4">Projeto da Disciplina de Desenvolvimento Web</h1>

    <!-- Informação dos autores e curso -->
    <p class="lead">Trabalho realizado por Martim Campos nº26543 e por Filipe Branco nº6967</p>
    <p class="lead">Curso de Engenharia Informatica</p>

    <hr /> <!-- Linha horizontal para separação -->

    <!-- Lista das bibliotecas usadas no projeto -->
    <h3>Bibliotecas utilizadas neste projeto:</h3>
    <ul class="list-unstyled">
        <li>- ASP.NET Core MVC</li>
        <li>- Entity Framework Core</li>
        <li>- SQLite</li>
        <li>- Identity (autenticação e autorização)</li>
        <li>- Razor Pages</li>
        <li>- Bootstrap</li>
    </ul>

    <hr /> <!-- Outra linha horizontal -->

    <!-- Credenciais para teste do sistema (login) -->
    <h3>Credenciais de Teste:</h3>
    <ul class="list-unstyled">
        <li>-User Autenticado-</li>
        <li> Username: Martim</li>
        <li> Pass: aA-123</li>
        <li> -Admin-</li>
        <li> UtilizadorAdmin</li>
        <li> Admin123!</li>
    </ul>
</div>