@model appMonumentos.Models.Monumento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Monumento</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Designacao" class="control-label"></label>
                <input asp-for="Designacao" class="form-control" />
                <span asp-validation-for="Designacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Coordenadas" class="control-label"></label>
                <input asp-for="Coordenadas" class="form-control" />
                <span asp-validation-for="Coordenadas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EpocaConstrucao" class="control-label"></label>
                <input asp-for="EpocaConstrucao" class="form-control" />
                <span asp-validation-for="EpocaConstrucao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <!-- Criador do Monumento (só leitura) -->
            <div class="form-group">
                <label class="control-label">Criador do monumento</label>
                <input type="text" value="@Model.Utilizador?.Nome" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="LocalidadeId" class="control-label"></label>
                <select asp-for="LocalidadeId" class="form-control" asp-items="@(ViewData["LocalidadeId"] as SelectList)">
                <option value="">Selecione uma localidade</option>
                </select>
                <span asp-validation-for="LocalidadeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
